<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax_Flask 專案</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <style>

    </style>
</head>

<body>
    {% include '_navbar.html' %}
    <div class="container">


        <div class="container mt-5">

            <h2 class="display-6 fw-bold text-secondary mb-4 pb-2 border-bottom">
                <i class="bi bi-image-fill me-2"></i>api 回傳文字、圖片及JSON，fetch 如何接收資料
            </h2>
            <h3 class="fw-bold text-secondary my-4 pb-2 border-bottom">
                文字處理
            </h3>
            <button id="buttonText" class="btn btn-primary">讀取文字</button>

            <h3 class="fw-bold text-secondary my-4 pb-2 border-bottom">
                圖處理
            </h3>
            <button id="buttonLoad" class="btn btn-primary">讀取圖片</button>
            <h3 class="fw-bold text-secondary my-4 pb-2 border-bottom">
                JSON處理
            </h3>
            <button id="buttonJson" class="btn btn-primary">讀取JSON</button>
            <select id="selectTask">
            </select>
            <div class="mt-3">
                <img id="img1" class="img-fluid rounded border shadow-sm" style="width: 300px; height: auto;"
                    src="static/images/empty.png" />
            </div>
            <div id="divInfo" class="alert alert-info my-4">
            </div>




        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        const btnText = document.querySelector('#buttonText');
        const btnLoad = document.querySelector('#buttonLoad');
        const btnJson = document.querySelector('#buttonJson');
        const divInfo = document.querySelector('#divInfo');
        const theImg = document.querySelector('#img1');
        const selTask = document.querySelector('#selectTask');


        btnText.addEventListener('click', async () => {
            const apiUrl = 'http://127.0.0.1:5000/api/text';
            const response = await fetch(apiUrl);
            const data = await response.text(); //api回傳的是文字，透過text()從 Response Body中取出資料
            divInfo.textContent = data;

        });


        btnLoad.addEventListener('click', async () => {
            const apiUrl = 'http://127.0.0.1:5000/api/image';
            const response = await fetch(apiUrl);
            const datas = await response.blob();//api回傳的是圖片，透過blob()從Response Body取出圖
            theImg.src = URL.createObjectURL(datas);
        })


        btnJson.addEventListener('click', async () => {
            const apiUrl = 'http://127.0.0.1:5000/api/json';
            const response = await fetch(apiUrl);
            const datas = await response.json(); // api回傳的是JSON，透過json()從Response Body取出JSON


            //datas = []
            //const tasks = datas.map(task => `<option value="${task.id}">${task.task}</option>`)

            //下面這段跟上面那行意思一樣，上面是簡化版本(把 return跟{}拿掉了)
            const tasks = datas.map((task) => {
                return (
                    `
                      <option value="${task.id}">${task.task}</option>
                    `
                )
            });

            selTask.innerHTML = tasks.join('');

            divInfo.textContent = JSON.stringify(datas); //stringify()是把JSON物件轉成JSON物件
        });


        theImg.onload = () => {
            // 當圖片真的出現在畫面上後，這個暫存網址就可以作廢了，節省記憶體
            URL.revokeObjectURL(theImg.src);
        };


    </script>
</body>

</html>